; Обязательные (должен заполнить администратор)
server_url=https://example.com:8080   ; Адрес сервера управления


; Опциональные (есть дефолты)
descr=  ; Описание агента (сервер, роль и т.д.)
poll_interval=  ; Интервал опроса в секундах (по умолчанию 10)
max_poll_interval=  ; Максимальный интервал при недоступности сервера (по умолчанию 300)


; Автогенерируемые (создаются программой)
UID=  ; Идентификатор агента 
access_code =  ; Код доступа